---
const startYear:int = 2025;
const currYear :int = new Date().getFullYear();
---

<footer>
  <p>
    © {startYear < currYear ? startYear.toString() + '-' + currYear.toString() : startYear} GIGAHERTZ00<br>
    Source code is on <a href="https://github.com/GIGAHERTZ00/blog.ghz00.net" target="_blank" rel="noopener noreferrer">GitHub</a>.
  </p>
</footer>