---
import Layout from '../layouts/Layout.astro';
// import "../styles/global.css"	
---


<Layout pageTitle="/about">
	<h1>About</h1>
	<h2>Hello!</h2>
	<p>ここはぎがへるつのブログです。</p>
	<h2>免責事項</h2>
	<p>
		&emsp;当サイトには可能な限り正確な情報を記載することを心掛けておりますが、管理人の勘違いや執筆から時間がかかり情報が古くなる等様々な要因により情報の正確性は担保できかねます。そのため、当サイトに掲載されている内容は全て無保証といたします。正確な情報が必要なときは一次ソースを当たるなどしてください。<br>
		&emsp;また、事前,事後の告知なしに掲載内容を修正する可能性があります。ご了承ください。
	</p>
	<p>&emsp;当サイトの情報を用いて行う一切の行為、また、それにより被った損害・損失に対しては、当方は一切の責任を負いかねます。 ご了承ください。</p>
</Layout>